{% extends ("layout.html.twig") %}


{% block title %} Ajouter une sortie {% endblock %}



{% block main %}
    <div class="form col s12 l8 m8 xl4  offset-l2 z-depth-2">

        <label for="choice">Ville concernée :</label>
        <div class="input-field col s12">
            <select class="choice">
                {% for ville in villes %}
                    <option value="{{ ville.id }}" id="{{ ville.id }}">{{ ville.nom }}</option>
                {% endfor %}
            </select>


        </div>
        {{ form_start(outingForm) }}
        {{ form_widget(outingForm) }}
        <div id="buttonAddLieu" class="center-align">
            <button class="btn pulse adding-places center-align"><i class="material-icons">add_location</i><span>Ajouter un lieu</span>
            </button>
        </div>
        <section class="place-adder" style="display: none;">

            <div id="toHide" class="center-align">
                <div class="input-field col s12">
                    <select id="siteSelection">
                        {% for ville in villes %}
                            <option value="{{ ville.id }}" id="{{ ville.id }}">{{ ville.nom }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="input-field col s10">
                    <label for="first_name">Nom</label>
                    <input id="nom" type="text" class="validate">

                </div>
                <div class="input-field col s10">
                    <input id="adresse" type="text"
                           class="validate">
                    <label for="first_name">Adresse</label>
                </div>
                <div class="input-field col s10">
                    <input id="long" type="number" class="validate" >
                    <label for="first_name">Longitude</label>
                </div>
                <div class="input-field col s10">
                    <input id="lat" type="number" class="validate" >
                    <label for="first_name">Latitude</label>
                </div>
                <button type="button" id="validePlaceCreation" style="margin-bottom: 5px;"
                        class="btn waves-effect waves-light btn-small center-align">Un nouveau Lieu !
                </button>


            </div>
        </section>


        <button type="submit" class="btn waves-effect waves-light">Ajouter</button>
        <a href="{{ path('main') }}" class="delete-btn btn waves-effect waves-light">Annuler</a>
        {{ form_end(outingForm) }}
    </div>
    <script>


        $(document).ready(function () {
            $('.pulse').click(function () {
                $('.place-adder').slideToggle("slow");
            });
        });

        $('#validePlaceCreation').click(function (e) {
            $.ajax({
                url: '{{ path('ajaxSiteAdd') }}',
                type: 'POST',
                data: {
                    'siteSelected': $('#siteSelection').val(),
                    'nom': $('#nom').val(),
                    'adresse': $('#adresse').val(),
                    'long': $('#long').val(),
                    'lat': $('#lat').val(),
                },
                async: true,
                success: function () {
                    $('#toHide').empty().append($('<p style="color: #4caf50;"> Le lieu a été ajouté à la liste.</p>'));
                    $('.choice').change();

                },
                error: function (e) {

                    console.log(e);
                    $('#toHide').append($('<p style="color: #AF2E2B;"> Une erreur s\'est produite..</p>'));
                }
            });
            e.preventDefault();
        });


        $('.choice').change(function (e) {
            var choice = $(this).val();
            $.ajax({
                url: '{{ path('ajaxFormAdd') }}',
                type: 'POST',
                dataType: 'json',
                data: {
                    'choice': choice
                },
                async: true,
                success: function (data) {

                    $('.ajaxSite').empty();
                    $.each(data, function (id, lieu) {
                        $('.ajaxSite').append($('<option value="' + id + '">' + lieu + '</option>'));
                    });
                }
            });
            e.preventDefault();
        });


        // https://openclassrooms.com/forum/sujet/symfony-formulaire-dynamique-cadeau

    </script>



{% endblock %}

