{%  extends ('layout.html.twig') %}

{% block title %}Annuler la sortie{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">

            <h3 class="titre">Annuler une sortie</h3>

            <br>

            <div class="row">
                <div class ="col s3 offset-s3 l3 offset-l3 m3 offset-m3">
                    <label class ="aff_sortie_label">Nom de la sortie :</label>
                </div>
                <div class ="col s3 l3 m3">
                    <span>{{ outing.nom }}</span>
                </div>
            </div>

            <div class="row">
                <div class ="col s3 offset-s3 l3 offset-l3 m3 offset-m3">
                    <label class ="aff_sortie_label">Date de la sortie :</label>
                </div>
                <div class ="col s3 l3 m3">
                    <span>{{outing.dateHeureDebut|date('d-m-Y') }}</span>
                </div>
            </div>

            <div class="row">
                <div class ="col s3 offset-s3 l3 offset-l3 m3 offset-m3">
                    <label class ="aff_sortie_label">Ville organisatrice :</label>
                </div>
                <div class ="col s3 l3  m3">
                    <span>{{outing.lieu.ville.nom}}</span>
                </div>
            </div>

            <div class="row">
                <div class ="col s3 offset-s3 l3 offset-l3 m3 offset-m3">
                    <label class ="aff_sortie_label">Lieu :</label>
                </div>
                <div class ="col s3 l3 m3">
                    <span>{{outing.lieu.nom}}</span>
                </div>
            </div>

                {{ form_start(outingForm) }}
                <div class="row">
                    <div class ="col s3 offset-s3 l3 offset-l3 m3 offset-m3">
                        {{ form_widget(outingForm) }}
                    </div>
                </div>
                <div class="row">
                    <div class ="col s3 offset-s3 l3 offset-l3 m3 offset-m3">
                        <button type="submit"  class=" delete-btn btn waves-effect waves-light">Enregistrer</button>
                    </div>
                    <div class ="col s3 l3 m3">
                        <button href=""   class="delete-btn btn waves-effect waves-light">Annuler</button>

                {{ form_end(outingForm) }}

            <br>
        </div>
{% endblock %}