{% extends ('layout.html.twig') %}

{% block title %} Accueil {% endblock %}

{% block main %}
    <section>
        <div class="row">
            <form class="col s12 l8 m10 offset-l2">
                <div class="col s6">
                    <p> Site : </p>
                    <div class="row">
                        <div class="input-field col s6">
                            <select class="siteSelector" id="siteSelector">
                                <option value="131" selected>Choisissez un site</option>
                                {% for site in sites %}
                                    <option value="{{ site.id }}">{{ site.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <p> Dates : </p>
                    <div class="row">

                        <div class="input-field col s6" id="dateFirst">
                            <input id="beginDate" type="date" class="datepicker">
                        </div>
                        <div class="input-field col s6" id="dateLast">
                            <input id="endDate" type="date" class="datepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" id="stringRecherche">
                            <input placeholder="Aquaponey, elevage d'autruches naines..." id="organizer" type="text"
                                   class="validate">

                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="input-field col s12">
                        <p>
                            <label>
                                <input type="checkbox"/>
                                <span>Sorties dont je suis l'organisateur</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox"/>
                                <span>Sorties auxquelles je suis inscrit/e</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox"/>
                                <span>Sorties auquelles je ne suis pas inscrit/e</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox"/>
                                <span>Sorties passées</span>
                            </label>
                        </p>
                        <button type="submit" name="submitter" class="submitter btn s12">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="row">

            <div class="col s12 l10 m12 offset-l1">

                <table>
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Debut de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>

                    </tr>
                    </thead>

                    <tbody class="tableBody">
                    {% for outing in outings %}
                        <tr>
                            <td>{{ outing.nom }}</td>
                            <td>{{ outing.dateHeureDebut|date('h:m d/m/Y')}}</td>
                            <td>{{ outing.dateLimiteInscription|date('d/m/Y') }}</td>
                            <td>{{ outing.inscriptions.count }} / {{ outing.nbInscriptionsMax }}</td>
                            <td>{{ outing.etat.libelle }}</td>
                            <td>A FAIRE</td>
                            <td>{{ outing.organisateur.username }}</td>
                            <td><a href="{{ path('show',{'id':outing.id})}}">Afficher</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>

        <div class="row">

            <div class="offset-l2 col l2 m4 s8">
                <a href="{{ path('add') }}">
                    <button type="button" class="btn">Ajouter une sortie</button>
                </a>
            </div>
        </div>
    </section>

    {#CECI EST LE DEBUT DU TEST DE CLEMENT POUR AFFICHER LE DETAILS DES SORTIES#}


    <a href="{{ path('delete',{'id':2})}}">TEST DELETE</a>
    <a href="{{ path('update',{'id':2})}}">TEST UPDATE</a>


    {#CECI EST LA FIN DU TEST DE CLEMENT POUR AFFICHER LE DETAILS DES SORTIES#}




    <script>


        $('.submitter').click(function (e) {
            $.ajax({

                url: '{{ path('ajaxFormIndex') }}',
                type: 'POST',
                dataType: 'json',
                data: {
                    'siteValue': $('#siteSelector').val(),
                    'dateFirst': $('#beginDate').val(),
                    'dateLast': $('#endDate').val(),
                    'stringSearch': $('#organizer').val(),
                },
                assync: true,
                success: function (data) {
                    console.log(data);
                    $('.tableBody').empty();
                    $.each(data, function (key, value) {
                        if (key != 0) {


                            $('.tableBody').append($('<tr value="' + key + '"><td>' + value['nom'] + '</td> <td>' + value['dateHeureDebut'] + '</td> <td>' + value['duree'] + '</td> <td>' + value['dateLimiteInscription'] + '</td> <td>' + value['nbInscriptions'] + ' / ' + value['nbInscriptionsMax'] + '</td> <td>' + value['infosSortie'] + '</td><td> ' + value['etat'] + ' </td></tr>'
                            ));
                        }
                    });
                }

            })

            e.preventDefault();

        });


    </script>

{% endblock %}