{%  extends ('layout.html.twig') %}

{% block main %}


    {#
   Cette page s'affiche si l'utilisateur est  le créateur de la sortie

   1ere partie --Cette page receptionne une instance de sortie(contenant une instance de lieu)
   2eme partie --Elle a également besoin d'une liste de participant ayant un L'ID de la sortie

   #}
    <section>

        <h1>Modifier une sortie</h1>
        <form>
        <br>
        <label>Nom de la sortie :</label><input placeholder="{{ sortie.nom }}">
        <label>Ville organisatrice :</label><input placeholder="{{ sortie.lieux_no_lieu.nom_lieu }}">
        <br>
        <label>Date et heure de la sortie :</label><input placeholder="{{ sortie.datedebut }}">
        <label>Lieu :</label><input placeholder="{{ sortie.lieux_no_lieu.nom_lieu }}">
        <br>
        <label>Date limite d'inscription :</label><input placeholder="{{ sortie.datecloture }}">
        <label>Rue :</label><input placeholder="{{ sortie.lieux_no_lieu.nom_lieu.rue }}">
        <br>
        <label>Nombre de places :</label><input placeholder="{{ sortie.nbinscriptionsmax }}">
        <label>Code postal :</label><input placeholder="{{ sortie.lieux_no_lieu.nom_lieu.villes_no_ville }}">
        <br>
        <label>Durée :</label><input placeholder="{{ sortie.duree }}">
        <label>Latitude :</label><input placeholder="{{  sortie.lieux_no_lieu.nom_lieu.latitude }}">
        <br>
        <label>Description et infos :</label><input placeholder="{{ sortie.descriptioninfos }}">
        <label>Longitude :</label><input placeholder="{{  sortie.lieux_no_lieu.nom_lieu.longitude }}">
        <br>

            <button type ="submit">Valider</button>
            <button>Publier la sortie</button>
            <button>Supprimer la sortie</button>
            <button>Annuler</button>
        </form>
    </section>

    <section>
        <h2>Liste des participants inscrits :</h2>

        <table>
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>

            <tbody>
            {% for participant in participants%}
                <tr>
                    <td>{{ participant.pseudo}}</td>
                    <td>{{ participant.nom}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>





{% endblock %}