{% extends 'layout.html.twig' %}

{% block title %}Gestion des sorties{% endblock %}

{% block main %}

    <section>
        <div class="row">
            <h3 class ="center-align">Gestion des sorties</h3>
            <div class="col s12 l8 m10 offset-l2">

                <table class="responsive-table centered">
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Debut de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                        <th style="color : red;" >Admin</th>
                    </tr>
                    </thead>

                    <tbody class="tableBody">
                    {% for outing in outings %}
                        {% set inscrit = false %}
                        {% for inscription in  outing.inscriptions %}
                            {% if user.inscriptions.contains(inscription) %}
                                {% set inscrit = true %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>
                                <a href="{{ path('show',{'id':outing.id}) }}">{{ outing.nom }}</a>
                            </td>
                            <td>{{ outing.dateHeureDebut|date('d-m-Y / H:i') }}</td>
                            <td>{{ outing.dateLimiteInscription|date('d/m/Y') }}</td>
                            <td>{{ outing.inscriptions.count }} / {{ outing.nbInscriptionsMax }}</td>
                            <td>{{ outing.etat.libelle }}</td>
                            <td> {% if  inscrit == true %}

                                <div>Oui</div>
                            </td>

                            {% endif %}
                            <td> {% if  outing.organisateur.id != user.id %}

                                {#GESTION DES BOUTONS POUR CHAQUE SORTIE#}
                                <a href="{{ path('their_details',{'id':outing.organisateur.id}) }}">{{ outing.organisateur.username }}</a>
                            </td>

                        {% else %}

                            <div>{{ outing.organisateur.username }}</div></td>

                            {% endif %}

                            <td>

                                {% if  inscrit == false and outing.etat.id <= 2 and (outing.nbInscriptionsMax - outing.inscriptions.count) >= 1 %}

                                    <a href="{{ path('subscribe',{'id':outing.id}) }}">S'inscrire</a>

                                {% endif %}

                                {% if  inscrit == true and outing.etat.id <= 2 and outing.organisateur.id != user.id %}

                                    <a href="{{ path('renounce',{'id':outing.id}) }}">Se désister</a>

                                {% endif %}

                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') and outing.etat.id != 6 %}

                                    <a href="{{ path('delete',{'id':outing.id}) }}" class="btn btn-small-red">Annuler</a>

                                {% endif %}
                            </td>
                            {# FIN GESTION DES BOUTONS POUR CHAQUE SORTIE#}

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>

        <div class="row">

            <div class="offset-l2 col l2 m4 s12">
                <a href="{{ path('add') }}">
                    <button type="button" id="addOutingButton" class="btn center-align btn-large pulse">Ajouter</button>
                </a>
            </div>
        </div>
    </section>

    <script>


        $('.submitter').click(function (e) {

            $.ajax({

                url: '{{ path('ajaxFormIndex') }}',
                type: 'POST',
                dataType: 'json',
                data: {
                    'siteValue': $('#siteSelector').val(),
                    'dateFirst': $('#beginDate').val(),
                    'dateLast': $('#endDate').val(),
                    'stringSearch': $('#organizer').val(),
                    'isOrganizer': $('#isOrganizer').prop('checked'),
                    'isInscrit': $('#isInscrit').prop('checked'),
                    'isNotInscrit': $('#isNotInscrit').prop('checked'),
                    'finishedOutings': $('#finishedOutings').prop('checked')
                },
                async: true,
                success: function (data) {

                    $('.tableBody').empty();
                    $.each(data, function (key, val) {
                        if (val['nom'] != undefined) {
                            $('.tableBody').append($('<tr class="align-text" value="' + key + '"><td>' + val['nom'] + '</td> <td>' + val['dateHeureDebut'] + '</td><td>' + val['dateLimiteInscription'] + '</td> <td>' + val['nbInscriptions'] + ' / ' + val['nbInscriptionsMax'] + '</td> <td>' + val['etat'] + '</td><td class="isInscrit' + key + '"> </td><td class="organizerName' + key + '">' + val['organizerName'] + '</td><td class="links' + key + '" ><a href="show/' + key + '">Afficher</a></td></tr>'
                            ));
                            console.log(val['isInscrit'])
                            if (val['canDelete'] === true) {
                                $('.links' + key + '').append($(' <a href="delete/' + key + '"> Effacer</a>'));

                            } else if ((val['isInscrit'] === true && val['canUnsubscribe'] === true) && val['canDelete'] === false) {

                                $('.links' + key + '').append($(' <a href="renounce/' + key + '"> Se désister</a>'));
                                $('.organizerName' + key + '').empty();
                                $('.organizerName' + key + '').append($('<a href="user/' + val['currentUserID'] + '"> ' + val['organizerName'] + ' </a>'));


                            } else if (val['canSubscribe'] === true && (val['isInscrit'] === false && val['canDelete'] === false)) {
                                $('.links' + key + '').append($('<a href="subscribe/' + key + '"> S\'inscrire</a>'));
                                $('.organizerName' + key + '').empty();
                                $('.organizerName' + key + '').append($('<a href="user/' + val['organizerId'] + '"> ' + val['organizerName'] + ' </a>'));

                            }

                            if (val['isInscrit'] === true) {
                                $('.isInscrit' + key + '').append($('<span>Oui</span>'));
                            } else {
                                $('.isInscrit' + key + '').append($('<span>Non</span>'));
                            }
                        }
                    });
                }

            });

            e.preventDefault();

        });

    </script>

{% endblock %}
