{%  extends ('layout.html.twig') %}

{% block title %}Détail du profil{% endblock %}

{% block main %}

    {#
    Cette page affiche les informations en fonction de l'id utilisateur

    1ere partie --Cette page receptionne une instance de sortie(contenant une instance de lieu)
    2eme partie --Elle a également besoin d'une liste de participant ayant un L'ID de la sortie

    #}

    <section>

        <div class="container">

            <div class="row">
                <a href="{{ asset('/public/pictures/' ~ app.user.picture) }}">voir photo</a>
                <img src="" class="photo center-align">
                <br>
            </div>

            <div class="row">
                <h3 class="titre center-align">{{ user.username }}</h3>
                <br>
            </div>

            <div class="row align-center">

                <div class ="col s4 l3 m3 offset-s3 offset-m4 offset-l4">
                    <label class ="aff_sortie_label">Prénom :</label>
                </div>
                <div class ="col s4 l3 m3">
                    <span>{{ user.prenom }}</span>
                </div>
                <br>
            </div>

            <div class="row">
                <div class ="col s4 l3 m3 offset-s3 offset-m4 offset-l4">
                    <label class ="aff_sortie_label">Nom :</label>
                </div>
                <div class ="col s4 l3 m3">
                    <span><span>{{ user.nom }}</span></span>
                </div>
                <br>
            </div>

            <div class="row">
                <div class ="col s4 l3 m3 offset-s3 offset-m4 offset-l4">
                    <label class ="aff_sortie_label">Téléphone :</label>
                </div>
                <div class ="col s4 l3 m3">
                    <span>{{ user.telephone }}</span>
                </div>
                <br>
            </div>

            <div class="row">
                <div class ="col s4 l3 m3 offset-s3 offset-m4 offset-l4">
                    <label class ="aff_sortie_label">Email :</label><span></span>
                </div>
                <div class ="col s4 l3 m3">
                    <span>{{ user.email }}</span>
                </div>
                <br>
            </div>

            <div class="row">
                <div class ="col s4 l3 m3 offset-s3 offset-m4 offset-l4">
                    <label class ="aff_sortie_label">Site :</label>
                </div>
                <div class ="col s4 l3 m3">
                    <span>{{ user.site.nom }}</span>
                </div>
                <br>
                <br>
            </div>


            {#section modulaire en fonction de si l'on affiche son propre profil ou un autre profil#}
            <div class="row">
                {% if user.id == app.user.id %}
                    <div class ="col s4 l3 m3 offset-s3 offset-m4 offset-l4">
                        <a href="{{ path('user_update') }}">
                            <input type="button" class="btn btn-secondary" name="modifier" value="Modifier">
                        </a>
                    </div>
                    <div class ="col s4 l3 m3">
                        <a href="{{ path('main') }}">
                            <input type="button" class="btn btn-secondary" name="retour" value="Retour">
                        </a>
                    </div>

                {% else %}
                    <div class ="center-align">
                        <a href="{{ path('main') }}">
                            <input type="button" class="btn btn-secondary" name="retour" value="Retour">
                        </a>
                    </div>
                {% endif %}
            </div>
            {#Fin section modulaire#}

    </section>
{% endblock %}

