{% extends ("layout.html.twig") %}


{% block title %} Modifier le profil {% endblock %}



{% block main %}

<div class="container">
    <div class="row center-align">
        <div class="col s4 offset-s4 m4 offset-m4 l4 offset-l4 form">
            {{ form_start(userForm) }}

            {{  form_row(userForm.pseudo) }}
            {{  form_row(userForm.prenom) }}
            {{  form_row(userForm.nom) }}
            {{  form_row(userForm.telephone) }}
            {{  form_row(userForm.email) }}
            {{  form_row(userForm.motDePasse) }}
            {{  form_row(userForm.site) }}
        </div>
    </div>
    <div class="row center-align">
            {% if  user.administrateur == true %}
                <p>Administrateur</p>
            {% endif %}
    </div>
    <div class="row center-align">
        {% if  user.actif == true %}
            <p>Utilisateur actif</p>
        {% endif %}
    </div>

        <br>

    <div class="row center-align">
        <button type="submit" class="btn waves-effect waves-light">Enregistrer</button>
        {{ form_end(userForm) }}
    </div>
</div>

{%  endblock %}